<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-dark">
	<div class="container-fluid">
		<ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-2">
			<li class="nav-item">
				<a class="nav-link"><i class="fas fa-user-circle me-2"></i> {{usuario.nome}}</a>
			</li>
		</ul>
		<a class="btn btn-outline-success" href="{{URL_BASE}}admin/logout"> Sair </a>
	</div>
</nav>
