<!--SOBRE-->
<div id="sobre" class="block">
	<div class="container">
		<div class="row">
			<div class="col-md-6 align-self-center text-center order-md-1 order-2">
				<img src="{{URL_BASE}}assets/institucional/images/sobre.svg" class="img-fluid"/>
			</div>
			<div class="col-md-6 align-self-center order-md-2 order-1 mb-md-0 mb-4">
				<h2 class="title">At vero eos et accusamus et iusto</h2>
				<h4 class="subtitle">
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem
																															              accusantium doloremque
				</h4>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
																															              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
																															              enim ad minim veniam, quis nostrud exercitation ullamco laboris
																															              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
																															              reprehenderit in voluptate velit esse cillum dolore eu fugiat
																															              nulla pariatur.
				</p>
				<a href="#" class="btn btn-primary button button-primary">Entre em contato</a>
			</div>
		</div>
	</div>
</div>
<!--//SOBRE-->
{{js | raw}}
