<!--formcontato-->
<div id="contato">
	<div class="email">
		<img src="{{URL_BASE}}assets/institucional/images/paperplane.svg"/>
		<h2 class="title text-center">Fique por dentro das novidades</h2>
		<h4 class="subtitle text-center mb-4">
			Et sumi kapa namur aondeai rocus pocus est talaraum
		</h4>
		<form>
			<div class="flex-md-grow-1 pr-md-3 pb-md-0 pb-3">
				<label for="email" class="sr-only">Password</label>
				<input type="email" class="form-control w-100" id="email_input" placeholder="seu email"/>
			</div>
			<div class="flex-grow-1 flex-md-grow-0">
				<button type="submit" class="btn btn-light button mb-3 d-md-inline d-block w-100">
					cadastre-se
				</button>
			</div>
		</form>
	</div>
</div>
{{js | raw}}
