<!--FOOTER-->
<footer id="contato">
	<div class="container">
		<div class="logo py-4">
			<div class="row">
				<div
					class="col-md-6 align-self-center text-md-left text-center">
					{% if brand == 1%}
						<img src="{{logoimage}}" class="img-fluid" width="120px"/>
					{% else %}
						<h1>{{logotext[0]}}<span style="color:#fc5185;">{{logotext[1]}}</span></h1>
					{% endif %}
				</div>
				<div class="col-md-6 align-self-center text-right social-media">
					<ul>
						<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#"><i class="fab fa-instagram"></i></a></li>
						<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						<li><a href="#"><i class="fab fa-youtube"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
<!--//FOOTER-->
