<!--FOOTER-->
<footer id="contato">
	<div class="container">
		<div class="logo py-4">
			<div class="row">
				<div
					class="col-md-6 align-self-center text-md-left text-center">
					{#<img src="{{URL_BASE}}assets/institucional/images/logo.svg" class="img-fluid"/>#}
					<h1>Meu<span style="color:#0d6efd;">Site</span></h1>
				</div>
				<div class="col-md-6 align-self-center text-right social-media">
					<ul>
						<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#"><i class="fab fa-instagram"></i></a></li>
						<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
						<li><a href="#"><i class="fab fa-youtube"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
<!--//FOOTER-->
