<div id="header">
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light justify-content-between">
			<a
				class="navbar-brand" href="#">
				{% if brand == 1%}
						<img src="{{logoimage}}" class="img-fluid" width="120px"/>
					{% else %}
						<h1>{{logotext[0]}}<span style="color:#fc5185;">{{logotext[1]}}</span></h1>
					{% endif %}
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-principal" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fas fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="nav-principal">
			<ul class="navbar-nav">
				{# <ul class="navbar-nav ms-auto"> #}
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">MENU 1</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
							MENU 5
						</a>
						<ul class="dropdown-menu toogled" aria-labelledby="navbarDropdown">
							<li>
								<a class="dropdown-item" href="#">Action</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Another action</a>
							</li>
							<li><hr class="dropdown-divider"></li>
							<li>
								<a class="dropdown-item" href="#">Something else here</a>
							</li>
							{#<li class="nav-link dropdown">
						<a class="nav-link dropdown-item dropdown-toogle" href="#" data-toogle="dropdown">subLevel</a>
						<ul class="dropdown-menu">
						<a class="dropdown-item" href="#">subLevel1</a>
						<a class="dropdown-item" href="#">subLevel2</a>
						<a class="dropdown-item" href="#">subLevel3</a>
						</ul>
						</li>#}
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">MENU 2</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">MENU 3</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">MENU 4</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</div>
{{js | raw}}
