@font-face {
    font-family: 'OpenSans';
    src: url(../../fonts/OpenSans-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url(../../fonts/OpenSans-Bold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'OpenSans';
    src: url(../../fonts/OpenSans-Light.ttf);
    font-weight: 300;
}